.SunInfo {
  width: 75%;
  max-width: 300px;
  padding: 1em;
  border-radius: 5px;
  margin: 20px auto;
  color: black;
  box-shadow: 1px 5px 25px 3px #444;
}

.sun_description {
  font-size: 18px;
}

.moon_description {
  font-size: 18px;
  margin-left: 60px;
}

.sun_description span {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}
.moon_description span {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}

.sun-icon {
  width: 50px;
  margin-right: 10px;
  display: inline-block;
}
