#aqi-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aqi-display i{
    font-size: 18px;
    display: block;
    padding: 1em;
    font-weight: 500;
    color: #999;
}

.aqi-box {
    margin: 15px 0;
    width: 80%;
    margin: 20px auto;
}

.aqi-text-group {
    display: flex;
   align-items: center;

}

.aqi-text {
    font-size: 18px;
    font-weight: 700;
    color: #444;
    flex: 2;
}

.circular-bar {
    flex: 1;
}


@media (max-width: 750px) {
.aqi-box{
    width: 85%;
}

.aqi-display i{
    font-size: 14px;
    padding: .5em;
=======
.aqi-bar-display {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.circular-bar {
  width: 140px;
  margin-top: 20px;
}

.aqi-text-desc {
    line-height: 1.3;
    margin-top: 15px;
}

}