.aqi-display {
    margin-bottom: 20px;
}

.aqi-display i{
    font-size: 18px;
    display: block;
    padding: 1em;
    font-weight: 500;
    color: #999;
}

.aqi-box {
    margin: 15px 0;
    width: 80%;
    margin: 20px auto;
}

.aqi-text-group {
    display: flex;
   align-items: center;

}

.aqi-text {
    font-size: 18px;
    font-weight: 700;
    color: #444;
    flex: 2;
}

.circular-bar {
    flex: 1;
}


@media (max-width: 750px) {
.aqi-box{
    width: 85%;
}

.aqi-display i{
    font-size: 14px;
    padding: .5em;
}

}