.result_title{
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .result_description{
   font-size: 14px;
   color: #444;
   margin: 15px 0;
  }
  
  .result_description span{
   font-size: 20px;
   font-weight: 700;
   margin-left: 10px;
  }
  
  @media (max-width: 768px) {
   .result_description{

    margin: 5px 0;

   }


  }

