body {
    color: white;
    text-align: center;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  background-color: #133667;
}
ul{
  list-style: none;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

.Results {
  background-color: white;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.location-icon {
  width: 12%;
  margin-right: 3px;
}

.btn {
  border-radius: 18px;
  padding: 7px;
  width: 150px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  color: #133667;
  border-color: #133667;
  background-color: #fff;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
}

.btn:hover {
  color: #fff;
  background-color: #133667;
}

input {
  border: 1px solid #999;
  width: 300px;
  padding: 10px;
  border-radius: 4px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: scroll;
  padding-left: 0;
  width: 320px;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #999;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
.cards {
  margin-bottom: 30px;
}
.card {
  display: inline-block;
}
