body {
  background-color: #133667;
  color: white;
  text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px;
  margin-bottom: 0.83em;
}

.Results {
  background-color: white;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.location-icon {
  width: 12%;
  margin-right: 3px;
}

.btn {
  border-radius: 18px;
  padding: 7px;
  width: 10%;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  border-color: #fff;
  background-color: #133667;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
}

.btn:hover {
  color: #133667;
  background-color: #fff;
}

.cards {
  margin-bottom: 30px;
}
.card {
  display: inline-block;
}
