
body {
  background-color: #133667;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.fade{
  opacity: 0;
  animation: fadein 1.5s forwards;
  animation-iteration-count: 1;
}

@keyframes fadein {
   from{
    opacity: 0;
   }
   to{
    opacity: 1;
   }
}


.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px;
  margin-bottom: 0.83em;
}

.Results {
  background-color: white;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.location-icon {
  width: 12%;
  margin-right: 3px;
}

.btn {
  border-radius: 18px;
  padding: 7px;
  width: 150px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  color: #133667;
  border-color: #133667;
  background-color: #fff;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
}

.btn:hover {
  color: #fff;
  background-color: #133667;
}

.cards {
  margin-bottom: 30px;
}
.card {
  display: inline-block;
}
