.card {
    background-color: white;
    border-style: 2px solid gray;
    border-radius: 8px;
    padding: 7px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;  
    background: radial-gradient(#aacdfa, #d2c6f7);
}

.card:hover {
    transform: scale(1.04);
}

.icon {
    width: 110px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
}

.desc {
    color: black;
    font-size: 16px;
}


@media (max-width: 508px) {
    .card {
        display: flex;
        flex-direction: row;
    }
  
  }